.btn {
  cursor: pointer;
  height: 44px;
  border: none;
  border-radius: 12px;
  background-color: var(--brand-color);
}

.container {
  --max-width: 428px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.desktop-only {
  display: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-3 {
  grid-template-columns: 2fr 1fr;
}

.items-center {
  align-items: center;
}

@media (width >= 80em) {

  .btn {
    width: 160px;
    height: 44px;
  }

  .container {
    --max-width: 80em;
  }

  .desktop-only {
    display: initial;
  }

}